:root {
  --clr-primary: #2e2e2e;
  --clr-secondary: #1e1e24;
  --clr-details: #ffcf99;
  --clr-details-2: #af8ae2;
  --clr-white: #fff8f0;
  --clr-white-grey: #ffffffcc;
  --clr-black: #2e2e2e;
}

html {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-white);
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
nav {
  width: 100%;
  min-width: 480px;
  height: 10vh;
  background-color: var(--clr-secondary);
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
}
nav > * {
  width: fit-content;
  height: 100%;
}
footer {
  width: 100%;
  height: 100px;
  margin-top: auto;
  background-color: var(--clr-secondary);

  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
p {
  font-size: 2.4rem;
  color: var(--clr-white-grey);
}
h2,
h3 {
  color: var(--clr-details);
  margin-bottom: 4rem;
}
h2 {
  font-size: 6.4rem;
}
h3 {
  font-size: 5.2rem;
}

/* nav */
.contenedor-logo {
  width: 10vh;
  min-width: 10vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-logo > .logo {
  width: 7vh;
  height: 7vh;
  background-color: var(--clr-details-2);
  border-radius: 8px;
}
.contenedor-enlaces {
  width: 500px;
  min-width: 300px;
  display: flex;
  align-items: center;
}
.contenedor-enlaces > a {
  width: fit-content;
  margin-inline: auto;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.contenedor-enlaces > a:hover {
  color: var(--clr-details-2);
}

/* MAIN */
main {
  min-width: 480px;
  width: 100%;
  background-color: var(--clr-primary);
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main > * {
  margin: 9rem 5rem;
  min-width: 480px;
  width: fit-content;
  max-width: 1200px;
  height: 100%;
  display: flex;
}

/* por ahora, para q las demas secciones esten centradas */
main > *:not(:first-child) {
  flex-direction: column;
  text-align: center;
}
/* HERO */
.hero {
  min-height: 400px;
  padding: 1rem;
  gap: 5vw;
  margin-top: 15rem;
}
.hero-info {
  min-height: 100%;
  max-width: 860px;
}
/* HERO CONTENT */
.hero-info > p {
  margin-bottom: 4rem;
  height: 85px;
}
.hero-info > p span {
  color: var(--clr-details-2);
}
/* buttons on hero */
.hero-info > button {
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 1.6rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  border: 3px solid var(--clr-white-grey);
}
button.white {
  background-color: var(--clr-white);
  color: var(--clr-black);
  margin-right: 3rem;
}
button.black {
  background-color: transparent;
}
button:hover {
  border: 3px solid var(--clr-details-2);
}
button.white:hover {
  background-color: var(--clr-details-2);
}
button:active {
  transform: scale(0.95);
}
/* img on hero */
.hero-img {
  width: 60%;
  max-width: 350px;
  max-height: 380px;
  height: auto;
}
.hero-img > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 15px 0px rgba(100, 100, 100, 0.2);
  object-fit: cover;
}

/* ABOUT */
.about {
  flex-direction: column;
  text-align: center;
}

/* footer */
footer p {
  font-size: 1.4rem;
  font-style: italic;
}

/* FIXME: No se donde poner la img del hero kjjj, igual seguro se ve mas adelante */
@media screen and (max-width: 860px) {
  .hero-img > img,
  .hero-img {
    display: none;
  }
  .hero {
    text-align: center;
  }
}
